<!--
	<ul>
		<li ng-repeat="product in prestashop">
			<a ui-sref="productDetail({produtId : product.id })">Lien</a>
			<span>{{ product.id }}</span>
			<span>{{ product.name }}</span>
			<span>{{ product.quantity }}</span>
			<span>{{ product.price }}</span>
			<span>{{ product.description_short }}</span>
			<span>{{ product.available_now }}</span>
			<img ng-src="{{ product.urlImg }}"/>
			
		</li>
	</ul>
-->
<div class="container">
	<table class="table">
		<thead>
			<th>ID</th>
			<th>Name</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>description_short</th>
			<th>available_now</th>
			<th>Image</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<tr ng-repeat="product in prestashop">
				<td>{{ product.id }}</td>
				<td>{{ product.name }}</td>
				<td>{{ product.quantity }}</td>
				<td>{{ product.price }}</td>
				<td>{{ product.description_short }}</td>
				<td>{{ product.available_now }}</td>
				<td><img ng-src="{{ product.urlImg }}" class="img-responsive" width="250" height="250"/></td>
				<td><a class="btn btn-default" role="button" href="home.html#product/{{ product.id }}">Consulter</a></td>
				<!--<td><a class="btn btn-default" role="button" ui-sref="productDetail({produtId : product.id })">Consulter</a></td>-->
			</tr>
		</tbody>
	</table>
</div>